In [1]:
import pandas as pd

In [26]:
source = pd.read_excel("source.xlsx")

target = pd.read_excel("target.xlsx")

In [27]:
source.head()

     ID  name
0  1234   asd
1  2345  adsd
2  3456  fdse
3  4567   fse
4  5678   ete

In [28]:
target.head()

     ID  name
0  1234   asd
1  9832  adsd
2  7890  tryr
3  8901   gfd
4  9012   yut

In [53]:
target.at[0,'name']

'asd'

In [54]:
target.iloc[0]

ID      1234
name     asd
Name: 0, dtype: object

In [31]:
target['ID'].apply(lambda x: x in source['ID'].values)

0     True
1    False
2     True
3     True
4     True
Name: ID, dtype: bool

In [24]:
1234 in source['ID'].values

True

In [39]:
target[list(map(lambda x: x in source['ID'].values, target['ID']))]

     ID  name
0  1234   asd
2  7890  tryr
3  8901   gfd
4  9012   yut

In [40]:
import names

ModuleNotFoundError: No module named 'names'

In [41]:
!pip install names

Collecting names
  Downloading https://files.pythonhosted.org/packages/44/4e/f9cb7ef2df0250f4ba3334fbdabaa94f9c88097089763d8e85ada8092f84/names-0.3.0.tar.gz (789kB)
Building wheels for collected packages: names
  Running setup.py bdist_wheel for names: started
  Running setup.py bdist_wheel for names: finished with status 'done'
  Stored in directory: C:\Users\lkoturu\AppData\Local\pip\Cache\wheels\f9\a5\e1\be3e0aaa6fa285575078fa2aafd9959b45bdbc8de8a6803aeb
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

You are using pip version 9.0.1, however version 21.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [43]:
import names

In [44]:
dir(names)

['FILES',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__version__',
 'abspath',
 'dirname',
 'full_path',
 'get_first_name',
 'get_full_name',
 'get_last_name',
 'get_name',
 'join',
 'random',
 'unicode_literals']

In [48]:
names.get_full_name()

'Tony Chisler'

In [51]:
for _ in range(100):
    print(names.get_full_name())

Nina Sreaves
Tamara Sayre
Maritza Fajardo
Maggie Kennedy
Emily Garfield
Marie Gregory
Carolyn Reynolds
Jason Holme
Raul Bollinger
Megan Kelly
Beth Knox
Johanna Powell
John Williams
Maggie Wilson
Martha Fischer
Lola Hardison
Christian Flores
Susan Arevalos
Jennette Valencia
Thomas Locker
Emily Parent
Debra Rotz
Anne Davis
Ann Tellier
Betty Gant
Marjorie Manns
Janina Gomez
Tammara Blair
Heather Hunter
Robert Hanson
Randall Joffrion
Mary Vajgrt
Francis Casarez
Jeanette Fields
Billy Myers
Evie Harvey
Cristina Gibson
Ethyl Johnson
Thomas Diaz
June Tate
Anne Frazier
Israel Hernandez
Mark Fisher
Joel Vineyard
Leslie Smallwood
Jeff Addington
Antone Galvan
Angelica Rhodes
Andrew Foster
Kyle Link
Beckie Capobianco
Michelle Lucas
Cheryl Lieb
Willie Shafer
Joy Ashley
Buck Brown
Marcella Reynolds
Christopher Lynch
Sharon Moore
Robert Jacobs
Evelyn Fawver
Charles Price
Therese Ferrante
Marjory Thomas
Linda Enstad
Harold Lester
John Bingham
Willie Tackett
Don Fanney
Wilford Green
Sid Holley
Eugene Greene
Keith Buell
Alison Ziglar
Timothy Dallas
Megan Odom
Patricia Fisher
Joshua Mallory
Tracy Klein
Sharon Hutchinson
Mattie Stiffler
Jennifer Bolin
Linda Brooks
Robert Tuai
Wesley Hall
Katrina Husar
Matthew Bundy
Burl Grim
Judith Bowman
Edward Quinn
Willene Barnes
Theresa Kennedy
Luis Emberling
James Wood
Richard Howell
Jerome Colon
Patricia Roman
Mark Holbrook
Joanne Carmichael
William Moreland

In [52]:
!pip install faker

Collecting faker
  Downloading https://files.pythonhosted.org/packages/3f/d4/9edd00fadaddd28b5467b5945dd89febddaf2b67f409a0ec0c72c73c15ca/Faker-8.10.3-py3-none-any.whl (1.2MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\programdata\anaconda3\lib\site-packages (from faker)
Collecting text-unidecode==1.3 (from faker)
  Downloading https://files.pythonhosted.org/packages/a6/a5/c0b6468d3824fe3fde30dbb5e1f687b291608f9473681bbf7dabbf5a87d7/text_unidecode-1.3-py2.py3-none-any.whl (78kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker)
Installing collected packages: text-unidecode, faker
Successfully installed faker-8.10.3 text-unidecode-1.3

You are using pip version 9.0.1, however version 21.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [55]:
from sklearn.datasets import make_regression

In [56]:
# Generate fetures, outputs, and true coefficient of 100 samples
features, output, coef = make_regression(n_samples = 100,
                                         # three features
                                         n_features = 3,
                                         # two features are useful,
                                         n_informative = 2,
                                         # one target
                                         n_targets = 1,
                                         # 0.0 standard deviation
                                         noise = 0.0,
                                         # show the true coefficient 
                                         coef = True)

In [57]:
# View the features of the first 10 rows
pd.DataFrame(features, columns=['Customer A', 'Customer B', 'Customer C']).head(10)

   Customer A  Customer B  Customer C
0    0.712247    1.861776   -0.250724
1   -0.340608   -0.825323   -0.519205
2    1.115256    0.693239    0.264304
3    2.877017   -0.768661    0.373617
4   -0.235514    0.407465   -0.336513
5    0.638618    0.446111    0.202336
6    0.969686   -1.954139   -0.556203
7   -0.111740   -1.644101    0.583915
8    0.753262   -0.204683    2.189126
9   -0.957100    0.150124    0.363157

In [58]:
# View the output of the first 10 rows
pd.DataFrame(output, columns=['Sales']).head(10)

       Sales
0  70.526303
1 -36.287423
2  29.110901
3 -26.965391
4  13.190909
5  18.990379
6 -80.554578
7 -59.391742
8   9.471678
9   8.741967