https://www.youtube.com/watch?v=VJBY2eVtf7o&list=RDCMUCq6XkhO5SZ66N04IcPbqNcw&index=16

https://github.com/KeithGalli/Pandas-Data-Science-Tasks/tree/master/Misc

In [51]:
import pandas as pd
import numpy as np
import datetime
import random
import calendar
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

In [52]:
products = {
    # product : [price, weight]
  'iPhone': [700, 10],
  'Google Phone': [600, 8],
  'Vareebadd Phone': [400, 3],
  '20in Monitor': [109.99,6],
  '34in Ultrawide Monitor': [379.99, 9],
  '27in 4K Gaming Monitor': [389.99,9],
  '27in FHD Monitor': [149.99, 11],
  'Flatscreen TV': [300, 7],
  'Macbook Pro Laptop': [1700, 7],
  'ThinkPad Laptop': [999.99, 6],
  'AA Batteries (4-pack)': [3.84, 30],
  'AAA Batteries (4-pack)': [2.99, 30],
  'USB-C Charging Cable': [11.95, 30],
  'Lightning Charging Cable': [14.95, 30],
  'Wired Headphones': [11.99, 26],
  'Bose SoundSport Headphones': [99.99, 19],
  'Apple Airpods Headphones': [150, 22],
  'LG Washing Machine': [600.00, 1],
  'LG Dryer': [600.00, 1]
}

In [361]:
columns = ['Order ID','Product','Quantity Ordered', 'Price Each', 'Order Date','Purchase Address']

order_id = 1542854

products_list = [product for product in products]
weights = [products[product][1] for product in products]

In [410]:
calendar.monthrange(2021, 5)[1]

31

In [592]:
def generate_random_time(month):
    # mm/dd/yyyy H:m
    day_range = calendar.monthrange(2021, month)[1]
    random_day = random.randint(1, day_range)
    if random.random() < 0.5:
        date = datetime.datetime(2021, month, random_day, 12, 00)
    else:
        date = datetime.datetime(2021, month, random_day, 20, 00)
    time_offset = np.random.normal(loc=0, scale=180)
    
    final_date = date + datetime.timedelta(minutes=time_offset)
    
    return final_date.strftime("%m/%d/%y %H:%M")

In [593]:
random.random()

0.9204996810878957

In [594]:
for i in range(10):
    print(generate_random_time(1))

01/18/21 17:24
01/26/21 12:37
01/16/21 15:18
01/29/21 19:20
01/06/21 12:08
01/15/21 19:43
01/17/21 14:10
01/31/21 19:50
01/29/21 22:04
01/17/21 18:52

In [595]:
def generate_random_address():
    street_names = ['Main', '2nd', '1st', '4th', '5th', 'Park', '6th', '7th', 'Maple', 'Pine', 'Washington', '8th', 'Cedar', 'Elm', 'Walnut', '9th', '10th', 'Lake', 'Sunset', 'Lincoln', 'Jackson', 'Church', 'River', '11th', 'Willow', 'Jefferson', 'Center', '12th', 'North', 'Lakeview', 'Ridge', 'Hickory', 'Adams', 'Cherry', 'Highland', 'Johnson', 'South', 'Dogwood', 'West', 'Chestnut', '13th', 'Spruce', '14th', 'Wilson', 'Meadow', 'Forest', 'Hill', 'Madison']
    cities = ['San Francisco', 'Boston', 'New York City', 'Austin', 'Dallas', 'Atlanta', 'Portland', 'Portland', 'Los Angeles', 'Seattle']
    weights = [9,4,5,2,3,3,2,0.5,6,3]
    zips = ['94016', '02215', '10001', '73301', '75001', '30301', '97035', '04101', '90001', '98101']
    state = ['CA', 'MA', 'NY', 'TX', 'TX', 'GA', 'OR', 'ME', 'CA', 'WA']
    
    street = random.choice(street_names)
    ind = random.choices(range(len(cities)), weights=weights)[0]
    
    return f"{random.randint(1,999)} {street} st, {cities[ind]}, {state[ind]} {zips[ind]}"

In [596]:
generate_random_address()

'622 Ridge st, Los Angeles, CA 90001'

In [600]:
for month_value in range(1, 13):
    
    if month_value <= 10:
        orders_amount = abs(int(np.random.normal(loc=1200, scale=400)))
    if month_value == 11:
        orders_amount = abs(int(np.random.normal(loc=2000, scale=300)))
    if month_value == 12:
        orders_amount = abs(int(np.random.normal(loc=2600, scale=300)))
        
      
    df = pd.DataFrame(columns=columns)
    for i in range(orders_amount):
        address = generate_random_address()
        date = generate_random_time(month_value)
        
        product = random.choices(products_list, weights=weights)[0]
        price = products1[product]
        quantity_ordered = np.random.geometric(1.0 - (1.0/price), size=1)[0]
        
        df.loc[i] = [order_id, product, quantity_ordered, price, date, address]
        order_id += 1
        
        
    month_name = calendar.month_name[month_value]
    df.to_csv(f"sales_data/{month_name}_data.csv", index=None)
    print(f"completed for month {month_name} with row count: {orders_amount}")
    break

completed for month January with row count: 413

In [601]:
df_temp = pd.read_csv(r"sales_data/January_data.csv")
print("shape: ", df_temp.shape)
df_temp.head(10)

shape:  (413, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1553583,AA Batteries (4-pack),2,3.84,01/08/21 09:08,"299 Wilson st, Boston, MA 02215"
1,1553584,27in FHD Monitor,1,149.99,01/23/21 19:54,"973 1st st, Los Angeles, CA 90001"
2,1553585,AAA Batteries (4-pack),1,2.99,01/28/21 11:32,"216 Ridge st, Austin, TX 73301"
3,1553586,Wired Headphones,1,11.99,01/29/21 20:31,"466 10th st, San Francisco, CA 94016"
4,1553587,AA Batteries (4-pack),1,3.84,01/07/21 10:35,"632 6th st, Boston, MA 02215"
5,1553588,Macbook Pro Laptop,1,1700.00,01/24/21 17:16,"883 Lincoln st, Dallas, TX 75001"
6,1553589,USB-C Charging Cable,1,11.95,01/08/21 20:41,"766 Lincoln st, Boston, MA 02215"
7,1553590,AAA Batteries (4-pack),1,2.99,01/11/21 19:04,"598 13th st, Seattle, WA 98101"
8,1553591,USB-C Charging Cable,1,11.95,01/16/21 08:57,"837 2nd st, Boston, MA 02215"
9,1553592,AA Batteries (4-pack),1,3.84,01/22/21 12:57,"563 Maple st, San Francisco, CA 94016"

In [368]:
# df.groupby('Product').size().to_frame('count').reset_index().sort_values(by=['count'],ascending=False).reset_index(drop=True)