In [1]:
# link used for below task
# GIT
# https://github.com/anbento0490/code_tutorials

# https://towardsdatascience.com/8-popular-sql-window-functions-replicated-in-python-e17e6b34d5d7

In [2]:
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", -1)

C:\Users\lkoturu\AppData\Local\Temp/ipykernel_18472/2270773329.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option("display.max_colwidth", -1)

In [3]:
orders = pd.read_csv(r"customer_orders.csv", parse_dates=['order_date'], index_col=['order_date'])

In [4]:
orders.head()

           order_id customer_id item_id  item_price  quantity  amount_paid_gbp
order_date
2019-02-13  ID001    customer_1  item_3  10.0        2         20.0
2019-02-15  ID002    customer_2  item_1  23.5        2         47.0
2019-02-16  ID003    customer_2  item_2  7.5         3         22.5
2019-02-16  ID004    customer_1  item_1  23.5        4         94.0
2019-02-19  ID005    customer_4  item_1  23.5        6         141.0

In [5]:
pd.DatetimeIndex(orders.index).to_period("M")

PeriodIndex(['2019-02', '2019-02', '2019-02', '2019-02', '2019-02', '2019-02',
             '2019-02', '2019-02', '2019-02', '2019-02', '2019-02', '2019-02',
             '2019-02', '2019-02', '2019-02', '2019-02', '2019-03', '2019-03',
             '2019-03', '2019-03', '2019-03', '2019-03', '2019-03', '2019-03',
             '2019-03', '2019-03', '2019-03', '2019-03', '2019-03', '2019-03',
             '2020-01', '2020-01', '2020-01', '2020-02', '2020-02', '2020-02',
             '2020-02', '2020-03', '2020-03', '2020-03', '2020-03', '2020-03',
             '2020-03', '2020-03', '2020-03', '2020-03', '2020-03', '2020-03',
             '2020-04', '2020-04'],
            dtype='period[M]', name='order_date')

In [6]:
orders.insert(0, 'order_month', pd.DatetimeIndex(orders.index).to_period("M"))

orders.reset_index(inplace = True)

orders.head()

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0
1,2019-02-15,2019-02,ID002,customer_2,item_1,23.5,2,47.0
2,2019-02-16,2019-02,ID003,customer_2,item_2,7.5,3,22.5
3,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0
4,2019-02-19,2019-02,ID005,customer_4,item_1,23.5,6,141.0

In [7]:
orders.groupby('customer_id')['order_id'].count()

customer_id
customer_1    18
customer_2    13
customer_3    7
customer_4    12
Name: order_id, dtype: int64

In [8]:
orders.groupby('customer_id')['amount_paid_gbp'].sum()

customer_id
customer_1    1291.75
customer_2    761.00
customer_3    576.75
customer_4    1205.50
Name: amount_paid_gbp, dtype: float64

### window functions in python

In [9]:
# we wanted to rank orders by customer based on the order date, starting from the less recent one. To achieve this result in SQL , we can write:

# row number() over(partition by customer_id order by order_date)

In [10]:
(
    orders.assign(
        rnk_cu_cnt = orders.groupby('customer_id')['order_date']
        .cumcount()+1
    ).sort_values(['customer_id', 'rnk_cu_cnt'])
).head(5)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,rnk_cu_cnt
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0,1
3,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0,2
7,2019-02-21,2019-02,ID008,customer_1,item_2,7.5,3,22.5,3
8,2019-02-21,2019-02,ID009,customer_1,item_3,10.0,2,20.0,4
10,2019-02-23,2019-02,ID011,customer_1,item_5,35.0,2,70.0,5

In [11]:
orders.head()

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0
1,2019-02-15,2019-02,ID002,customer_2,item_1,23.5,2,47.0
2,2019-02-16,2019-02,ID003,customer_2,item_2,7.5,3,22.5
3,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0
4,2019-02-19,2019-02,ID005,customer_4,item_1,23.5,6,141.0

In [12]:
# the above same logic can be performed using .rank() function
# 1. ROW NUMBER() --> .RANK(method='first')
# orders['by_rank_func'] = 
orders = (
    orders.assign(
        row_num = orders.groupby('customer_id')['order_date'].rank(method='first')
    )
    .sort_values(['customer_id', 'order_date'])
)
orders.reset_index(drop=True, inplace=True)

In [13]:
orders

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0

In [14]:
# What if we wanted to assign the row number in descending order (from most recent to oldest order)? 
# --> in the rank method provide one more argument

(
    orders.assign(
        by_rank_func = orders.groupby('customer_id')['order_date'].rank(method='first', ascending=False)
    )
    .sort_values(['customer_id', 'order_date'])
)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,by_rank_func
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0,18.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0,17.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0,15.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0,16.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0,14.0
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0,13.0
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0,12.0
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0,11.0
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0,10.0
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0,9.0
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0,7.0
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0,8.0
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0,6.0
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0,5.0
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0,4.0
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0,2.0
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0,3.0
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0,1.0
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0,13.0
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0,12.0
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0,10.0
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0,11.0
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0,9.0
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0,8.0
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0,7.0
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0,6.0
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0,5.0
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0,4.0
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0,3.0
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0,2.0
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0,1.0
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0,7.0
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0,6.0
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0,5.0
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0,4.0
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0,3.0
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0,2.0
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0,1.0
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0,12.0
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0,11.0
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0,10.0
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0,9.0
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0,8.0
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0,7.0
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0,6.0
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0,5.0
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0,3.0
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0,4.0
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0,2.0
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0,1.0

In [15]:
orders.head()

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.5,3,22.5,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.0,2,20.0,4.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.0,2,70.0,5.0

In [16]:
# What if we wanted to partition by multiple columns (like Customer ID and Order Month)?
#SQL Syntax
# row number() over(partition by customer_id, order_month order by order_date)

#Python Syntax
(
    orders.assign(
        doule_part = orders.groupby(['customer_id', 'order_month'])['order_date'].rank(method='first')
    )
)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,doule_part
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0,4.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0,5.0
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0,6.0
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0,1.0
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0,2.0
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0,3.0
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0,4.0
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0,5.0
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0,6.0
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0,7.0
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0,8.0
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0,1.0
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0,1.0
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0,2.0
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0,1.0
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0,1.0
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0,2.0
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0,3.0
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0,4.0
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0,5.0
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0,6.0
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0,1.0
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0,2.0
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0,3.0
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0,4.0
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0,1.0
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0,1.0
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0,2.0
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0,1.0
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0,2.0
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0,3.0
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0,1.0
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0,1.0
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0,2.0
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0,3.0
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0,1.0
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0,1.0
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0,1.0
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0,1.0
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0,2.0
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0,1.0
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0,2.0
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0,3.0
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0,4.0
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0,5.0
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0,6.0
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0,1.0

In [26]:
# #2. Rank() → Rank(method='min')

# The SQL RANK() function, assigns a rank to each row within a partition of a result set. Unlike ROW NUMBER(), the rank is not sequential, meaning that rows within a partition that share the same values, will receive the same rank

# rank() over(partition by customer_id order by order_date)

#Python Syntax
orders = (
    orders.assign(
        rnk = orders.groupby(['customer_id'])['order_date'].rank(method='min')
    )
)

In [27]:
orders.head()

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,rnk
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0,1.0,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0,2.0,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.5,3,22.5,3.0,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.0,2,20.0,4.0,3.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.0,2,70.0,5.0,5.0

In [28]:
# (
#     orders.assign(
#         temp = orders.sort_values(['order_date'])
#         .groupby('customer_id')
#         .cumcount()+1
#     ).sort_values(['customer_id', 'order_month', 'temp'])
# )

In [29]:
orders.head(10)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,rnk
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.0,2,20.0,1.0,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.5,4,94.0,2.0,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.5,3,22.5,3.0,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.0,2,20.0,4.0,3.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.0,2,70.0,5.0,5.0
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.5,4,94.0,6.0,6.0
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.5,7,164.5,7.0,7.0
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.5,6,45.0,8.0,8.0
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.5,12,90.0,9.0,9.0
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.5,10,235.0,10.0,10.0

In [30]:
#3. Dense_rank() → Rank(method=’dense’)
# If we wanted to avoid gaps in ranking values we should use the SQL dense_rank() function instead. 
# In effect, unlike the rank() function, using dense_rank() returns consecutive rank values. 
# In our case, the SQL syntax would be:
# dense_rank() over(partition by customer_id order by order_date)

(
    orders.assign(
        dense = orders.groupby(['customer_id'])['order_date'].rank(method='dense')
    )
)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,rnk,dense
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0,1.0,1.0
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0,2.0,2.0
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0,3.0,3.0
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0,3.0,3.0
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0,5.0,4.0
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0,6.0,5.0
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0,7.0,6.0
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0,8.0,7.0
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0,9.0,8.0
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0,10.0,9.0
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0,11.0,10.0
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0,11.0,10.0
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0,13.0,11.0
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0,14.0,12.0
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0,15.0,13.0
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0,16.0,14.0
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0,16.0,14.0
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0,18.0,15.0
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0,1.0,1.0
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0,2.0,2.0
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0,3.0,3.0
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0,3.0,3.0
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0,5.0,4.0
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0,6.0,5.0
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0,7.0,6.0
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0,8.0,7.0
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0,9.0,8.0
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0,10.0,9.0
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0,11.0,10.0
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0,12.0,11.0
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0,13.0,12.0
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0,1.0,1.0
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0,2.0,2.0
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0,3.0,3.0
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0,4.0,4.0
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0,5.0,5.0
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0,6.0,6.0
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0,7.0,7.0
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0,1.0,1.0
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0,2.0,2.0
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0,3.0,3.0
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0,4.0,4.0
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0,5.0,5.0
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0,6.0,6.0
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0,7.0,7.0
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0,8.0,8.0
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0,9.0,9.0
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0,9.0,9.0
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0,11.0,10.0
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0,12.0,11.0

In [35]:
#4.Sum(…) over(partition by … order by .. rows unbounded preceding) → cumsum()
# We now wish to compute the cumulative sum of the amount paid by each customer, in each month, sorted by order date. 
# This calculation is also known as a running total and it’s probably one of the most used metrics in business analytics. 
# One way to achieve this in SQL is:
# sum(amount_paid) over(partition by customer_id, order_month order by order_date rows unbounded preceding)

(
    orders.assign(
        cumu_sum = orders.groupby(['customer_id', 'order_month'])['amount_paid_gbp'].cumsum()
    )
)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,rnk,cumu_sum
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0,1.0,20.00
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0,2.0,114.00
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0,3.0,136.50
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0,3.0,156.50
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0,5.0,226.50
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0,6.0,320.50
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0,7.0,164.50
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0,8.0,209.50
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0,9.0,299.50
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0,10.0,534.50
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0,11.0,558.00
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0,11.0,640.25
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0,13.0,687.25
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0,14.0,737.25
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0,15.0,23.50
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0,16.0,141.00
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0,16.0,188.00
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0,18.0,22.50
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0,1.0,47.00
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0,2.0,69.50
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0,3.0,93.00
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0,3.0,100.50
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0,5.0,135.50
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0,6.0,203.00
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0,7.0,52.50
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0,8.0,99.50
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0,9.0,217.00
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0,10.0,240.50
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0,11.0,70.50
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0,12.0,164.50
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0,13.0,247.00
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0,1.0,175.00
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0,2.0,280.00
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0,3.0,397.50
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0,4.0,11.75
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0,5.0,47.00
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0,6.0,97.00
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0,7.0,167.50
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0,1.0,141.00
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0,2.0,10.00
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0,3.0,40.00
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0,4.0,164.50
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0,5.0,214.50
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0,6.0,20.00
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0,7.0,149.25
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0,8.0,431.25
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0,9.0,491.25
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0,9.0,550.00
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0,11.0,785.00
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0,12.0,15.00

In [41]:
#5. Avg(…) over(partition by… ) → transform(np.mean)
# In a similar fashion, we may also wish to compute the average amount spent by each customer per month. 
# This time the SQL syntax is quite intuitive:
# avg(amount_paid) over(partition by customer_id, order_month)

(
    orders.assign(
        avg_amt = orders.groupby(['customer_id', 'order_month'])['amount_paid_gbp'].transform('mean')
    )
)

,order_date,order_month,order_id,customer_id,item_id,item_price,quantity,amount_paid_gbp,row_num,rnk,avg_amt
0,2019-02-13,2019-02,ID001,customer_1,item_3,10.00,2,20.00,1.0,1.0,53.416667
1,2019-02-16,2019-02,ID004,customer_1,item_1,23.50,4,94.00,2.0,2.0,53.416667
2,2019-02-21,2019-02,ID008,customer_1,item_2,7.50,3,22.50,3.0,3.0,53.416667
3,2019-02-21,2019-02,ID009,customer_1,item_3,10.00,2,20.00,4.0,3.0,53.416667
4,2019-02-23,2019-02,ID011,customer_1,item_5,35.00,2,70.00,5.0,5.0,53.416667
5,2019-02-26,2019-02,ID014,customer_1,item_1,23.50,4,94.00,6.0,6.0,53.416667
6,2019-03-13,2019-03,ID019,customer_1,item_1,23.50,7,164.50,7.0,7.0,92.156250
7,2019-03-14,2019-03,ID020,customer_1,item_2,7.50,6,45.00,8.0,8.0,92.156250
8,2019-03-15,2019-03,ID021,customer_1,item_2,7.50,12,90.00,9.0,9.0,92.156250
9,2019-03-22,2019-03,ID025,customer_1,item_1,23.50,10,235.00,10.0,10.0,92.156250
10,2019-03-23,2019-03,ID026,customer_1,item_4,11.75,2,23.50,11.0,11.0,92.156250
11,2019-03-23,2019-03,ID027,customer_1,item_4,11.75,7,82.25,12.0,11.0,92.156250
12,2019-03-24,2019-03,ID028,customer_1,item_4,11.75,4,47.00,13.0,13.0,92.156250
13,2019-03-25,2019-03,ID029,customer_1,item_3,10.00,5,50.00,14.0,14.0,92.156250
14,2020-01-15,2020-01,ID033,customer_1,item_1,23.50,1,23.50,15.0,15.0,23.500000
15,2020-02-17,2020-02,ID034,customer_1,item_1,23.50,6,141.00,16.0,16.0,94.000000
16,2020-02-17,2020-02,ID035,customer_1,item_1,23.50,2,47.00,17.0,16.0,94.000000
17,2020-04-25,2020-04,ID049,customer_1,item_2,7.50,3,22.50,18.0,18.0,22.500000
18,2019-02-15,2019-02,ID002,customer_2,item_1,23.50,2,47.00,1.0,1.0,33.833333
19,2019-02-16,2019-02,ID003,customer_2,item_2,7.50,3,22.50,2.0,2.0,33.833333
20,2019-02-19,2019-02,ID006,customer_2,item_1,23.50,1,23.50,3.0,3.0,33.833333
21,2019-02-19,2019-02,ID007,customer_2,item_2,7.50,1,7.50,4.0,3.0,33.833333
22,2019-02-25,2019-02,ID013,customer_2,item_5,35.00,1,35.00,5.0,5.0,33.833333
23,2019-02-28,2019-02,ID016,customer_2,item_2,7.50,9,67.50,6.0,6.0,33.833333
24,2019-03-13,2019-03,ID018,customer_2,item_2,7.50,7,52.50,7.0,7.0,60.125000
25,2019-03-18,2019-03,ID023,customer_2,item_1,23.50,2,47.00,8.0,8.0,60.125000
26,2019-03-19,2019-03,ID024,customer_2,item_1,23.50,5,117.50,9.0,9.0,60.125000
27,2019-03-28,2019-03,ID030,customer_2,item_4,11.75,2,23.50,10.0,10.0,60.125000
28,2020-01-14,2020-01,ID031,customer_2,item_1,23.50,3,70.50,11.0,11.0,70.500000
29,2020-03-19,2020-03,ID038,customer_2,item_1,23.50,7,164.50,12.0,12.0,123.500000
30,2020-03-29,2020-03,ID047,customer_2,item_5,16.50,5,82.50,13.0,13.0,123.500000
31,2019-02-22,2019-02,ID010,customer_3,item_5,35.00,5,175.00,1.0,1.0,132.500000
32,2019-02-24,2019-02,ID012,customer_3,item_5,35.00,3,105.00,2.0,2.0,132.500000
33,2019-02-28,2019-02,ID015,customer_3,item_1,23.50,5,117.50,3.0,3.0,132.500000
34,2019-03-17,2019-03,ID022,customer_3,item_4,11.75,1,11.75,4.0,4.0,11.750000
35,2020-03-20,2020-03,ID039,customer_3,item_1,23.50,2,47.00,5.0,5.0,55.833333
36,2020-03-23,2020-03,ID041,customer_3,item_3,10.00,5,50.00,6.0,6.0,55.833333
37,2020-03-26,2020-03,ID044,customer_3,item_1,23.50,3,70.50,7.0,7.0,55.833333
38,2019-02-19,2019-02,ID005,customer_4,item_1,23.50,6,141.00,1.0,1.0,141.000000
39,2019-03-13,2019-03,ID017,customer_4,item_3,10.00,1,10.00,2.0,2.0,10.000000
40,2020-01-15,2020-01,ID032,customer_4,item_3,10.00,4,40.00,3.0,3.0,40.000000
41,2020-02-18,2020-02,ID036,customer_4,item_1,23.50,7,164.50,4.0,4.0,107.250000
42,2020-02-22,2020-02,ID037,customer_4,item_3,10.00,5,50.00,5.0,5.0,107.250000
43,2020-03-22,2020-03,ID040,customer_4,item_3,10.00,2,20.00,6.0,6.0,130.833333
44,2020-03-24,2020-03,ID042,customer_4,item_4,11.75,11,129.25,7.0,7.0,130.833333
45,2020-03-25,2020-03,ID043,customer_4,item_1,23.50,12,282.00,8.0,8.0,130.833333
46,2020-03-29,2020-03,ID045,customer_4,item_3,10.00,6,60.00,9.0,9.0,130.833333
47,2020-03-29,2020-03,ID046,customer_4,item_4,11.75,5,58.75,10.0,9.0,130.833333
48,2020-03-31,2020-03,ID048,customer_4,item_1,23.50,10,235.00,11.0,11.0,130.833333
49,2020-04-27,2020-04,ID050,customer_4,item_2,7.50,2,15.00,12.0,12.0,15.000000

In [39]:
orders.groupby(['customer_id', 'order_month'])['amount_paid_gbp'].mean()

customer_id  order_month
customer_1   2019-02        53.416667
             2019-03        92.156250
             2020-01        23.500000
             2020-02        94.000000
             2020-04        22.500000
customer_2   2019-02        33.833333
             2019-03        60.125000
             2020-01        70.500000
             2020-03        123.500000
customer_3   2019-02        132.500000
             2019-03        11.750000
             2020-03        55.833333
customer_4   2019-02        141.000000
             2019-03        10.000000
             2020-01        40.000000
             2020-02        107.250000
             2020-03        130.833333
             2020-04        15.000000
Name: amount_paid_gbp, dtype: float64