https://www.youtube.com/watch?v=_C8kWso4ne4&t=1046s

In [99]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from pyspark.sql import functions as f

In [109]:
spark = SparkSession.builder.appName("Pyspark with Mock Data").getOrCreate()

In [110]:
df = spark.read.csv('mock_data.csv', header=True)

In [111]:
df = df.withColumn('QUANTITY_ORDERED', f.col('QUANTITY_ORDERED').cast(IntegerType()))\
    .withColumn('PRICE_EACH', f.col('PRICE_EACH').cast(IntegerType()))

In [112]:
df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141237|AA Batteries (4-p...|            null|      null|          null|8 Dogwood St, New...|
|  141239|              iPhone|            null|      null|          null|                null|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [113]:
df.na.drop().show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [114]:
## any = how

df.na.drop(how='any').show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [115]:
df.na.drop(how='all').show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141237|AA Batteries (4-p...|            null|      null|          null|8 Dogwood St, New...|
|  141239|              iPhone|            null|      null|          null|                null|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [116]:
df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141237|AA Batteries (4-p...|            null|      null|          null|8 Dogwood St, New...|
|  141239|              iPhone|            null|      null|          null|                null|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [117]:
# threshold
# 1 --> atleast 1 non-null value
# 2 --> atleast 2 non-null value
# 3 --> atleast 3 non-null value
# 4 --> atleast 4 non-null value

df.na.drop(how='all', thresh=4).show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [118]:
df.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141237|AA Batteries (4-p...|            null|      null|          null|8 Dogwood St, New...|
|  141239|              iPhone|            null|      null|          null|                null|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [119]:
# subset

df.na.drop(how='any', subset=['QUANTITY_ORDERED']).show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
+--------+--------------------+----------------+----------+--------------+--------------------+

# Fill missing value

In [121]:
df.na.fill('Missing value', ['QUANTITY_ORDERED', 'PRICE_EACH']).show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|ORDER_ID|             PRODUCT|QUANTITY_ORDERED|PRICE_EACH|    ORDER_DATE|    PURCHASE_ADDRESS|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  141234|Lightning Chargin...|            null|        14|01/29/19 19:08|3 Main St, Austin...|
|  141236|USB-C Charging Cable|            null|      null|01/27/19 15:01|1 Church St, Los ...|
|  141237|AA Batteries (4-p...|            null|      null|          null|8 Dogwood St, New...|
|  141239|              iPhone|            null|      null|          null|                null|
|  141241|AAA Batteries (4-...|               1|         2|01/27/19 22:60|4 Maple St, San F...|
|  141242|                null|            null|       150|01/27/19 22:61|10 Lakeview St, D...|
+--------+--------------------+----------------+----------+--------------+--------------------+

In [122]:
from pyspark.ml.feature import Imputer

In [129]:
imputer = Imputer(
    inputCols = ['PRICE_EACH', 'QUANTITY_ORDERED'],
    outputCols = ["{}_imputer".format(c) for c in ['PRICE_EACH', 'QUANTITY_ORDERED']]
).setStrategy('mean')

In [131]:
imputer.fit(df).transform(df).toPandas().head()

,ORDER_ID,PRODUCT,QUANTITY_ORDERED,PRICE_EACH,ORDER_DATE,PURCHASE_ADDRESS,PRICE_EACH_imputer,QUANTITY_ORDERED_imputer
0,141234,Lightning Charging Cable,NaN,14.0,01/29/19 19:08,"3 Main St, Austin, TX 73301",14,1
1,141236,USB-C Charging Cable,NaN,NaN,01/27/19 15:01,"1 Church St, Los Angeles, CA 90001",55,1
2,141237,AA Batteries (4-pack),NaN,NaN,None,"8 Dogwood St, New York City, NY 10001",55,1
3,141239,iPhone,NaN,NaN,None,None,55,1
4,141241,AAA Batteries (4-pack),1.0,2.0,01/27/19 22:60,"4 Maple St, San Francisco, CA 94016",2,1